{
    "cache": false,
    "check-coverage": false,
    "extension": [
        ".js",
        ".vue"
    ],
    "exclude": [
        "cypress/**",
        "coverage/**",
        "cypress-coverage/**",
        "jest-coverage/**",
        "test/**",
        "node_modules/**",
        "**/*.config.js"
    ],
    "reporter": [
      "text-summary",
      "lcov",
      "clover",
      "cobertura",
      "json"
    ],
    "excludeNodeModules": true,
    "all": true,
    "sourceMap": false,
    "instrument": false,
    "report-dir": "cypress-coverage"
}